<h2>Lyrics</h2>
<h3>(However) We've Got The Time</h3>
<p>
    Just give me a reason<br>
    Some kind of sign<br>
    Falling to pieces <br>
    And try find the time<br>
</p>
<p>

    As a particle <br>
    Orbiting around the dust<br>
    As a particle
</p>
<br>
<h3>Is This Really What You Want</h3>
<p>
    Let me show you real truth<br>
    On the end of the white line<br>
    Because we will have no time anymore
</p>
<p>
    I will take you on a trip<br>
    In the night time<br>
    Tell me now that you fear
</p>
<p>
    On the end of your hard times<br>
    All these trees have no leaves<br>
    And no soul in their crowns.
</p>
<p>
    Actually here is no truth<br>
    I have made mistake<br>
    And I'm sorry for that all.
</p>